
#header-wrap .navbar-header .slicknav_icon.slicknav_no-text{
    display: block;
}
.navbar2{
    background: rgba(100,100,100,0.3);
}

.navbar .container{
    max-width: 100%;;
}

.navbar2 .slicknav_nav{
    background: transparent;
}

.navbar2:not(.top-nav-collapse) .slicknav_nav a {
    color: #fff;
    font-size: 1.2em;
}
.navbar2:not(.top-nav-collapse) .slicknav_nav a:hover {
    background: rgba(100,100,100,0.4);
    color: #fff;
    font-size: 1.22em;
}

/* .plus-icon{
    bottom: -10px;
    position: relative;
} */
.plus-icon a{
    background: #8864f2;
    display: block;
    height: 30px;
    width: 30px;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.white{
    color:#fff;
}

section.myServices .icon img.massage-icon {
    width: 140px;
    height: 110px;
}
section.myServices .icon img {
    width: 110px;
    height: 110px;
}

.counter-section .counter .icon i{
    font-size: 110px;
}

.phones{
    color: #fff;
}