//All Preset color variables are here

 // blue
//  $blue: #E91E63;
 $blue: #8864f2;
 $btnHover: #a287f2;
 $galeryrgba: rgba(162, 135, 242, 0.7);
 
//Current Preset Declareation
 $preset:  $blue;
 $presetHover: $btnHover;
 $presetHoverTgba: $galeryrgba;